/*******************************/
/* GENERAL */
/*******************************/
html, body {
    margin: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*******************************/
/* DROPDOWN */
/*******************************/
#dropdown {
    position: relative;
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #e3e3e3;
    border-radius: 0.25em;
    padding: 0.25em 0.5em 0.55em 0.5em;
    font-size: 1.0em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}

#dropdown select {
    display: none;
}

#dropdownSubmit {
    color: #fff;
    background-color: #3378da;
    border-color: #3378da;  
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.1;
    border-radius: 0.25rem;
}

#dropdownSubmit:hover {
    background-color: #2469c9;
}

/*******************************/
/* TABLE */
/******************************/

#dataTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.95em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
}

#dataTable thead tr {
    background-color: #3378da;
    color: #ffffff;
    text-align: left;
}

#dataTable thead tr th {
    font-size: 1.1em;
    cursor: pointer;
}

#dataTable thead tr th:hover {
    color: #e3e3e3;
}

.removeButton {
    color: #ffffff;
    background-color: #e05563;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 800;
    text-align: center;
    border: 1px solid transparent;
    margin-right: 5px;
    border-radius: 3px;
    cursor:pointer;
}

.removeButton:hover {
    background-color: #dc3545;
}

#dataTable th,
#dataTable td {
    padding: 12px 15px;
}

#dataTable tbody tr:nth-of-type(even) {
    background-color: #1198e67c;
}

#dataTable tbody tr:last-of-type {
    border-bottom: 2px solid #3378da;
}

#dataTable tbody tr:hover {
    color: #194685;
}

#dataTable tbody tr.clicked-row {
    background-color: #a7e0f3;
    color: #000000;
    border: solid thin #194685;
}

.descending:after,
.ascending:after {
    content: " ";
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.descending:after {
    top: 10px;
    border-top-color: #ffffff;
}

.ascending:after {
    bottom: 15px;
    border-bottom-color: #ffffff;
}

.ascending, .descending {
    padding-right: 10px;
}

.flex-container {
    display: flex;
}

#dataPlot {
    margin-left: 10px;
}

.highlight-label {
    opacity: 0.7;
    background-color:#080808;
    color: #e3e3e3;
    font-size: 16px;
}